<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.lunifera.dsl.xtext.lazyresolver.generatorDelegate">
      <generatorDelegate
            generatorDelegateClass="org.lunifera.dsl.ext.dtos.cpp.qt.GeneratorDelegate"
            grammarName="org.lunifera.dsl.dto.xtext.DtoGrammar">
      </generatorDelegate>
   </extension>

</plugin>
